<p>Extractor has been Completed with <%= @count %> out of <%= @expected_count %> images for <%= @camera_name %>.</p>

<p>The whole process took <%= @execution_time %> minutes!</p>

<%
  construction =
    case @requestor do
      "marklensmen@gmail.com" ->
        "Construction"
      _ ->
        "Construction2"
    end
%>

<p>You can see required files at <a href="https://www.dropbox.com/home/<%= construction %>/<%= @camera_exid %>/<%= @extractor_id %>">DropBox</a></p>