<p>Extractor has been Completed with <%= @count %> out of <%= @expected_count %> images for <%= @camera_name %>.</p>
<br>
<img src="image.jpg" alt='Camera Preview' style="width: 100%; display:block; margin:0 auto;" >