<p>Extractor has been Completed with <%= @count %> out of <%= @expected_count %> images for <%= @camera_name %>.</p>

<p>You can see required files at <a href="https://www.dropbox.com/home/Construction/<%= @camera_exid %>/<%= @extractor_id %>">DropBox</a></p>