<table class="table table-striped">
  <tbody>
    <tr>
      <td>I shall be telling this with a sigh</td>
    </tr>
    <tr>
      <td>Somewhere ages and ages hence:</td>
    </tr>
    <tr>
      <td>Two roads diverged in a wood, and I—</td>
    </tr>
    <tr>
      <td>I took the one less traveled by,</td>
    </tr>
    <tr>
      <td>And that has made all the difference.</td>
    </tr>
  </tbody>
</table>
